**/build.properties
**/.settings/
**/.classpath
**/.project
**/.idea/
**/target/
**/test-output/
**/*.iml
**/*.eml
**/*.ipr
**/*.iws
**/*.log
**/*.ids
**/.DS_Store
**/nbactions.xml
**/manifest.mf
**/nb-configuration.xml
**/Err.log
**/Err.log.*
dependency-reduced-pom.xml
*.orig
${env.LEXAKAI_ASSETS_HOME}/
